In [3]:
# %matplotlib.inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
plt.rcParams["figure.figsize"]=(20.0,10.0)

#reading the data 
data=pd.read_csv("headbrain.csv")
data.head()

   Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0       1          1             4512                 1530
1       1          1             3738                 1297
2       1          1             4261                 1335
3       1          1             3777                 1282
4       1          1             4177                 1590

In [5]:
print(data.shape)

(237, 4)

In [6]:
X=data["Head Size(cm^3)"].values
y=data["Brain Weight(grams)"].values

In [7]:
#Mean of X y
mean_x=np.mean(X)
mean_y=np.mean(y)

#total number of values
m=len(X)

#using the formula tocalculate bo and b1
numer=0
denom=0
for i in range(m):
    numer+=(X[i]-mean_x)*(y[i]-mean_y)
    denom+=(X[i]-mean_x)**2
b1=numer/denom
b0=mean_y-(b1*mean_x)

#print(coeff)
print(b0,b1)

325.57342104944223 0.26342933948939945

In [9]:
#to calculate r2 value
ss_t=0
ss_r=0
for i in range(m):
    y_pred= b0+b1*X[i]
    ss_t+= (y[i]-mean_y)**2
    ss_r+= (y[i]-y_pred)**2
r2=1-(ss_r/ss_t)
print(r2)

0.6393117199570003

In [ ]:
#we have fit linear regression using least squares method above

In [ ]:
#to use sklearn for fitting

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
#cannot use rank1 matrix in sklearn
X=X.reshape((m,1))
#create the model
reg=LinearRegression()
#fitting on training data
reg=reg.fit(X,y)
#prediction
Y_pred=reg.predict(X)

#calculate R2 score
r2_score=reg.score(X,y)
print(r2_score)

0.639311719957